<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-logo"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Login!</h1>
                </div>




                <form class="user" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group">
                    <input type="text" formControlName="usuario" class="form-control"
                      placeholder="Ingrese su Usuario...">
                    <span class="form-text text-danger" *ngIf="campoNoValido('usuario')">Debe Ingresar el usuario</span>

                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" id="password"
                      placeholder="Ingrese su Contraseña">
                      <span class="form-text text-danger" *ngIf="campoNoValido('password')">Debe Ingresar el password</span>
                  </div>

                  <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>