.form-group{
    margin: 30px 0;
}
.bg-login-logo{

    background: url('/assets/logo2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container{
    margin: 30px auto;
}